# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
# Build output
dist
dist-ssr
dev
build
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.env

# documentation
Migration.md
CHANGELOG.md
images/IMG_4863.png
images/cuoluo_jiaozhilieche_ultra-realistic_aerial_view_of_a_massive_c_723f528e-bd08-4a12-b401-24dad1fb9a6d.png
